
*{
    font-family: 'Raleway', sans-serif; /* Un nom de police suivi d'un nom de famille générique */
    box-sizing: border-box; /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
    margin: 0;
    padding: 0;
}
.container{
    max-width:1500px;
    margin-right: auto;
    margin-left: auto;
}
body{
    min-width: 320px;
}
a{
    text-decoration:none;
    color: black;
}
li{
    list-style-type: none;
}
/* Entête du site contenant le logo et le menu de navigation */
    /* Logo */
    header{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        padding-top: 25px;
        padding-left: 45px;       
    }
    img#logo{
        height: 55px;   
    }
    /* menu */
    .navlist{
        height:auto;
    }
    ul.navlist{
        display: flex;
        font-weight: 500;
        height:100%;
    }
    ul.navlist:hover{
        font-weight: 500;
    }
    li.navlist__lodging, li.navlist__activity{
        width: 200px;
        text-align: center;
        height:100%;
        /*padding-top: 40px; */
    }
    li.navlist__lodging:hover a, li.navlist__activity:hover a, li.navlist__lodging:focus a, li.navlist__activity:focus a, li.navlist__lodging:active a, li.navlist__activity:active a{
        color: #0065FC; 
    }  
    li.navlist__lodging:hover, li.navlist__activity:hover, li.navlist__lodging:focus, li.navlist__activity:focus, li.navlist__lodging:active, li.navlist__activity:active{
        border-top: 3px solid #0065FC;;
        color: #0065FC;  
    }
    .navlist a{
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }